# IS362_Week 5: Airport Analysis

##### William Cole

In [12]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

##### Calculating the northernmost Airport.
Lets start off by importing the file and display the information by locations.

In [13]:
airports = pd.read_csv("https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv")
airports.sort_values(by=["lat"], ascending=False)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage
...,...,...,...,...,...,...,...,...
930,MUE,Waimea Kohala,20.001328,-155.668108,2671,-10.0,A,Pacific/Honolulu
1403,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10.0,N,Pacific/Honolulu
231,BSF,Bradshaw Aaf,19.760056,-155.553717,6190,-10.0,A,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10.0,N,Pacific/Honolulu
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10.0,N,Pacific/Honolulu

The informations shows that the most northern airport is *Diliant Hopkins*. This however is not correct, the lat and lon was inverted and the **Wiley Post Will Rogers Airport** is infact the most notherern airport.

###### Calculating the easternmost airport.

Let's now check out the eastern most Airport:

In [14]:
df = pd.read_csv("https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv")
east_airports = df[(df['lat'] > 44) & (df['lat'] <= 50) & (df['lon'] >= -75) & (df['lon'] <= -65)]
east_airports.sort_values('lon', ascending=False)

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5.0,A,America/New_York
259,CAR,Caribou Muni,46.871500,-68.017917,626,-5.0,A,America/New_York
1101,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-5.0,A,America/New_York
1398,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5.0,A,America/New_York
...,...,...,...,...,...,...,...,...
236,BTV,Burlington Intl,44.471861,-73.153278,335,-5.0,A,America/New_York
1053,PBG,Plattsburgh Intl,44.650944,-73.468139,234,-5.0,A,America/New_York
799,LKP,Lake Placid Airport,44.264444,-73.961944,1747,-5.0,A,America/New_York
1240,SLK,Adirondack Regional Airport,44.385300,-74.206200,1663,-5.0,A,America/New_York
923,MSS,Massena Intl Richards Fld,44.935833,-74.845547,215,-5.0,A,America/New_York

The *Eastport Municipal Airport* is the eastern most airport. I have confirmed this on Google maps.

##### Wildest Weather:

Now lets import the weather csv and calculate the worst weather:

In [16]:
weather = pd.read_csv("https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv")
weather.sort_values('wind_gust', ascending=False)

,origin,year,month,day,hour,...,wind_gust,precip,pressure,visib,time_hour
1015,EWR,2013,2,12,8,...,1206.432388,0.00,1008.3,10.0,2013-02-12T08:00:00Z
9436,JFK,2013,1,31,9,...,48.998901,0.16,NaN,2.0,2013-01-31T09:00:00Z
728,EWR,2013,1,31,9,...,46.350311,0.03,NaN,1.0,2013-01-31T09:00:00Z
18147,LGA,2013,1,31,9,...,46.350311,0.07,NaN,2.0,2013-01-31T09:00:00Z
732,EWR,2013,1,31,13,...,45.026017,0.00,992.3,10.0,2013-01-31T13:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...
2138,EWR,2013,3,31,7,...,0.000000,0.00,1019.6,10.0,2013-03-31T06:00:00Z
16787,JFK,2013,12,4,16,...,0.000000,0.00,1020.4,8.0,2013-12-04T16:00:00Z
2057,EWR,2013,3,27,21,...,NaN,0.00,1012.1,10.0,2013-03-27T21:00:00Z
13129,JFK,2013,7,4,10,...,NaN,0.00,1024.4,6.0,2013-07-04T09:00:00Z
13513,JFK,2013,7,20,10,...,NaN,0.00,1009.6,10.0,2013-07-20T09:00:00Z

It's pretty obvious that **EWR(Newark International)** had quite a blustery day. I tried to confirm this via weather underground, unable to find crazy wind gusts like this on record. So I am going emit this information and go with the second most windy airport at **JFK**